@page
@model RegistroEstudiantes.Pages.Estudiantes.RegistrodeEstudiantesModel
@{
}

@if (!string.IsNullOrEmpty(Model.MensajeEliminacion))
{
    <label class="alert-info">@Model.MensajeEliminacion</label>
}

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="texto" asp-for="Texto">

        <div class="input-group-append">
            <button class="input-group-text" type="submit">Buscar</button>
        </div>
    </div>
</form>

@foreach (var estudiante in Model.Estudiantes)
{
    <partial name="_ResumenEstudiante" model="estudiante" />
    <br />
}

@*<table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>FechaNac</th>
                <th>Edad</th>
                <th>Sexo</th>
            </tr>
        </thead>

        @foreach (var estudiante in Model.Estudiantes)
        {
    <tr>
        <td> @estudiante.Id</td>
        <td>
            @estudiante.Matricula
        </td>
        <td> @estudiante.Nombre </td>
        <td> @estudiante.Apellido</td>
        <td> @estudiante.FechaNac.Date.ToString("dd MMM yyyy")</td>
        <td> @estudiante.Edad </td>
        <td> @estudiante.Sexo </td>
        <td> <a asp-page="./DetalleEstudiante" asp-route-Id="@estudiante.Id" class="btn btn-success" style="cursor:pointer">Ver detalle</a>  </td>
        <td> <a asp-page="./Editar" asp-route-Id="@estudiante.Id" class="btn btn-warning" style="cursor:pointer">Editar</a>  </td>
        <td> <a asp-page="./Eliminar" asp-route-Id="@estudiante.Id" class="btn btn-danger" style="cursor:pointer">Eliminar</a>  </td>

    </tr>
        }

    </table>*@

<a asp-page="./Editar" class="btn btn-success">Crear Estudiante</a>

<h1>@Model.Mensaje</h1>