@page
@model RegistroEstudiantes.Pages.RegistroMateriasModel
@{
}

    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="texto" asp-for="Texto" >
            
            <div class="input-group-append">
                <button class="input-group-text" type="submit">Buscar</button>
            </div>
        </div>
    </form>

    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Area</th>
                <th>Disponible</th>
            </tr>
        </thead>

        @foreach (var materia in Model.Materias)
        {
    <tr>
        <td> @materia.Id </td>
        <td>
            @materia.Codigo
        </td>
        <td> @materia.Nombre </td>
        <td> @materia.Area </td>
        <td> @materia.Disponible </td>
        <td> <a asp-page="./DetalleMateria" asp-route-Id="@materia.Id" class="btn btn-success" style="cursor:pointer">Ver detalle</a>  </td>
        <td> <a asp-page="./Editar" asp-route-Id="@materia.Id" class="btn btn-warning" style="cursor:pointer">Editar</a>  </td>
    </tr>
        }

    </table>

<a asp-page="./Editar" class="btn btn-success">Crear Materia</a>

<h1> @Model.Mensaje </h1>

